<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>About Us</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="./assets/css/global-header.css" />
	<link rel="stylesheet" href="./assets/css/global-footer.css" />
	<link rel="stylesheet" href="./assets/css/accesibility.css">
	<link rel="stylesheet" href="./assets/css/contact-page.css" />
	<link rel="shortcut icon" href="./assets/img/favicon.webp" type="image/x-icon" />

<body>
	<div class="header-container">
		<nav class="header-nav-bar">
			<div class="header-nav-logo">
				<a href="index.html">
					<img src="assets/img/logo.png" width="100px" height="100px" alt="SEABREEZE hotel logo">
				</a>
			</div>
			<ul class="header-nav-lists">
				<li class="header-nav-list"><a class="header-nav-link" href="index.html">HOME</a></li>
				<li class="header-nav-list"><a class="header-nav-link header-active" href="About_Us.html">ABOUT US</a>
				</li>
				<li class="header-nav-list"><a class="header-nav-link" href="rooms.html">ROOMS</a></li>
				<li class="header-nav-list"><a class="header-nav-link" href="event_pkj.html">EVENT PACKAGES</a></li>
				<li class="header-nav-list"><a class="header-nav-link" href="outdoor.html">OUTDOOR PACKAGES</a></li>
				<li class="header-nav-list"><a class="header-nav-link" href="facilities.html">FACILITIES</a></li>
				<li class="header-nav-list"><a class="header-btn header-btn-custom" href="login.html">LOG IN</a>
				</li>
			</ul>
			<div class="header-hamburger-icon">
				<div class="header-hamburger-line-1"></div>
				<div class="header-hamburger-line-2"></div>
				<div class="header-hamburger-line-3"></div>
			</div>
		</nav>
	</div>
	</header>
	<div class="container">
		<!-- Header part contain Title page and descriptoion -->
		<div class="header">
			<h2>About Us</h2>
			<hr />
			<p>
				We are Sea Breeze located in mannar.We are providing Deluxe rooms,villa as pre-defined packages and
				event packages.You can customize your event packages as your preference.As well as we are providing
				our enamored outdoor locations for your pre-shoots.
			</p>
		</div>
		<footer class="footer">
			<div class="footer-container">
				<nav class="footer-nav">
					<div class="footer-description">
						<h3 class="footer-description-title">SEABREEZE Hotel</h3>
						<pre>LAGOON VILLA</pre>
					</div>
					<div class="footer-contact-us">
						<h3 class="footer-description-title">Contact Us</h3>
						<p class="footer-description-detail">
							<img src="./assets/img/map-pin.svg" class="footer-description-icon"
								alt="star hotel location">

							<span>2nd Mile Post, Thalaimmannar Rd, Mannar</span>
						</p>
						<p class="footer-description-detail">
							<img src="./assets/img/phone.svg" class="footer-description-icon"
								alt="star hotels phone number">
							<span>077 5966582 / 071 1564795 / <br>023 2223510</br></span>
						</p>
						<p class="footer-description-detail">
							<img src="./assets/img/mail.svg" class="footer-description-icon" alt="star hotels email">
							<span>alkorbi144@gmail.com</span>
						</p>
					</div>
					<div class="footer-follow-us">
						<h3 class="footer-description-title">Follow Us</h3>
						<ul class="footer-follow-us-lists">
							<li class="follow-us-list">
								<a href="https://www.facebook.com/profile.php?id=100083654755350&mibextid=ZbWKwL">
									<img src="./assets/img/facebook.svg" alt="SEABREEZE Hotels facebook page">
								</a>
							</li>
							<li class="follow-us-list">
								<a href="https://www.instagram.com/hotel_seabreeze_mannar/?igshid=NTc4MTIwNjQ2YQ==">
									<img src="./assets/img/instagram.svg" alt="SEABREEZE Hotels instagram page">
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</footer>
		<script defer async>
			(() => {
				const loader = document.getElementById('loader');
				const scrollBar = document.getElementsByClassName('scroll-bar')[0];
				window.addEventListener('load', () => {
					loader.classList.add('none');
					scrollBar.classList.remove('scroll-bar')
				});
			})();
		</script>
		<script defer async src="assets/js/toggleHamburger.js"></script>
		<script async type="text/javascript"
			src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/4b09989a69254ac1a2bd21133f8c7eeb2c8aa64d6972487490ce08bf5c498422.js"></script>
</body>

</html>