<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Star Hotels Helps you Discover The Perfect Balance Of Hospitality, Luxury And Comfort.">

	<title>SEABREEZE Hotel</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/global-header.css">
	<link rel="stylesheet" href="./assets/css/global-footer.css">
	<link rel="stylesheet" href="./assets/css/accesibility.css">
	<link rel="stylesheet" href="./assets/css/index.css">
	<link rel="shortcut icon" href="./assets/img/favicon.webp" type="image/x-icon">
</head>

<body class="scroll-bar">
	<div id="loader">
		<svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
			y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
			<path fill="#d4af37"
				d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
				<animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50"
					to="360 50 50" repeatCount="indefinite" />
			</path>
		</svg>
	</div>
	<header>
		<div class="header-container">
			<nav class="header-nav-bar">
				<div class="header-nav-logo">
					<a href="index.html">
						<img src="https://res.cloudinary.com/joshuafolorunsho/image/upload/v1591615159/star_hotels_logo.png"
							alt="SEABREEZE hotels logo">
					</a>
				</div>
				<ul class="header-nav-lists">
					<li class="header-nav-list"><a class="header-nav-link header-active" href="index.html">Home</a></li>
					<li class="header-nav-list"><a class="header-nav-link" href="About_Us.html">About Us</a></li>
					<li class="header-nav-list"><a class="header-nav-link" href="rooms.html">Rooms</a></li>
					<li class="header-nav-list"><a class="header-nav-link" href="event_pkj.html">Event Packages</a></li>
					<li class="header-nav-list"><a class="header-nav-link" href="outdoor.html">Outdoor Packages</a></li>
					<li class="header-nav-list"><a class="header-nav-link" href="facilities.html">Facilities</a></li>
					<li class="header-nav-list"><a class="header-btn header-btn-custom" href="booking.html">BOOK NOW</a>
					</li>
				</ul>

				<div class="header-hamburger-icon">
					<div class="header-hamburger-line-1"></div>
					<div class="header-hamburger-line-2"></div>
					<div class="header-hamburger-line-3"></div>
				</div>
			</nav>
		</div>
	</header>

	<div class="jumbotron-container">
		<div class="jumbotron-left">
			<h2 class="jumbotron-header">Discover the perfect balance <br> of hospitality, luxury and <br>comfort.</h2>
			<p>We are focused on providing clients with the highest level<br>
				of comfort and excellent affordable rates</p>
			<a href="booking.html" class="btn btn-fill btn-large">Book Now</a>
		</div>
	</div>

	<div class="enjoy-container">
		<div class="enjoy-header">
			<h2 class="enjoy-heading">Enjoy your stay at our hotel</h2>
			<hr class="horizontal">
			<pre>We are more than being a hotel because we are able to combine quality standard of a hotel with the advantages of an apartment.</pre>
		</div>
		<div class="enjoy-container">
			<div class="enjoy-header" style="text-align: left;">
				<h3 class="enjoy-heading">Top Popular Amenities</h3>
				<hr class="horizontal">
				<p>
				<h3>
					<pre>🤽‍♂️   Kids Pool                                 👶    Babysitting</pre>
					<pre>🥗   Food and Drink                    🏊‍♂️    Adults Pool</pre>
					<pre>🍽     Restaurant                              🅿     Parking</pre>
					<pre>🥂   Bar                                              📶    Free WiFi</pre>
					<pre>🕵️‍♂️    Housekeeping                      🤵    Conveniences</pre>
					<pre>🤵    Room service                        🔆    Air conditioning</pre>
					<pre>🚴‍♀️   Things to do                          🎉    Outdoors</pre>
					<pre>👨‍🦽    Accessibility                           ✔      More</pre>
				</h3>
				</p>
			</div>
			&nbsp;
			&nbsp;
			<div class="enjoy-services">
				<div class="first-col">
					<div class="upper">
						<span>
							<img src="./assets/img/clock.svg" alt="clock icon" class="enjoy__clock-icon">
						</span>
						<h3>24 hours Room Service</h3>
						<p>You have access to 24-hours a day room service at our hotel.</p>
					</div>
					<div class="lower">
						<span>
							<img src="./assets/img/database.svg" alt="fitness icon" class="enjoy__fitness-icon">
						</span>
						<h3>Free Parking and Transportation</h3>
						<p>Free self parking on site and Wheelchair-accessible parking available</p>
					</div>

				</div>
				<div class="sec-col">
					<div class="upper">
						<span>
							<img src="./assets/img/coffee.svg" alt="coffee icon" class="enjoy__coffee-icon">
						</span>
						<h3>Restaurant and Bars</h3>
						<p>You have access to the world state of art restaurants and bars at our hotel</p>
					</div>
					<div class="lower">
						<span>
							<img src="./assets/img/wifi.svg" alt="wifi icon" class="enjoy__wifi-icon">
						</span>
						<h3>Free Wi-Fi Access</h3>
						<p>You have access to 24-hours free Wi-Fi services irrespective of any room.</p>
					</div>
				</div>
				<div class="third-col cont">
					<img src="./assets/img/ant-design_play-circle-filled.svg" alt="video play icon"
						class="enjoy__play-icon">
					<img src="./assets/img/video link.webp" alt="women in swimming pool" class="third-col-video">
				</div>
			</div>
		</div>
		<div class="enjoy-services">
			<div class="first-col">
				<div class="enjoy-header">
					<h3 class="enjoy-heading">Room Amenities</h3>
					<hr class="horizontal">
					<div class="upper">
						<span>
							<img src="./assets/img/clock.svg" alt="clock icon" class="enjoy__clock-icon">
						</span>
						<h3>Bedrooms</h3>
						<p>Bedsheets provided</p>
					</div>
					<div class="lower">
						<span>
							<img src="./assets/img/database.svg" alt="fitness icon" class="enjoy__fitness-icon">
						</span>
						<h3>Bathroom</h3>
						<p>Bathtub or shower
							Free toiletries
							Hair dryer on request
							Private bathroom
							Towels</p>
					</div>
				</div>
			</div>
			<div class="sec-col">
				<div class="upper">
					<span>
						<img src="./assets/img/coffee.svg" alt="coffee icon" class="enjoy__coffee-icon">
					</span>
					<h3>Food and drink</h3>
					<p>Coffee/tea maker
						Free bottled water
						Limited room service
						Mini-fridge
						Minibar</p>
				</div>
				<div class="lower">
					<span>
						<img src="./assets/img/wifi.svg" alt="wifi icon" class="enjoy__wifi-icon">
					</span>
					<h3>Entertainment and More</h3>
					<p>LED TV with cable channels
						Air conditioning
						Ceiling fan
						Desk
						Phone
						Safe
					</p>
				</div>
			</div>
		</div>
		<div class="enjoy-container">
			<div class="enjoy-header" style="text-align: left;">
				<h3 class="enjoy-heading">Policies</h3>
				<hr class="horizontal">
				<pre></pre>
				<h3>Chech-in Check-out</h3><p>Check-in from 2 PM - midnight & Check-out before 11 AM & Minimum check-in age: 18</p>
				&nbsp;
				<h3>Children and extra beds</h3><p>Children are welcome. Children up to the age of 11 years can stay for free if using existing beds when occupying the parent or guardian's room Rollaway/extra beds are available for USD 10.0 per day
					Cribs (infant beds) are not available</p>
				&nbsp;
				<h3>Pets</h3><p>No pets or service animals allowed - 1</p>
				&nbsp;
				<h3>Property payment types</h3><p>No pets or service animals allowed</p>
				&nbsp;
			</pre>

				<div class="review-container">
					<div class="review-header">
						<h2 class="review-title">
							Client Reviews and Feedback
						</h2>
						<hr class="horizontal">
						<p class="">We are very proud of the services we offer to our customers.<br>Read every word from
							our happy
							customers.</p>
					</div>
					<div class="cards-container">
						<div class="card">
							<img src="./assets/img/customer1.webp" alt="" class="card-avi">
							<h2 class="card-title">
								Mark Essien
							</h2>
							<h3 class="card-subtitle">
								Lagos, Nigeria.
							</h3>
							<p class="card-desc">Words can't explain the kind of treatment I received from the
								management of star
								hotels. They are the best in the country.</p>
						</div>
						<div class="card">
							<img src="./assets/img/customer2.webp" alt="" class="card-avi">
							<h2 class="card-title">
								Seyi Onifade
							</h2>
							<h3 class="card-subtitle">
								Lagos, Nigeria.
							</h3>
							<p class="card-desc">Star hotels makes you feel the best room quality that makes you feel
								the comfort of
								a home.</p>
						</div>
						<div class="card">
							<img src="./assets/img/customer3.webp" alt="" class="card-avi">
							<h2 class="card-title">
								Fayemi David
							</h2>
							<h3 class="card-subtitle">
								Lagos, Nigeria.
							</h3>
							<p class="card-desc">My Family and I are very happy when we lodge into star hotels. They are
								by far the
								best in the universe.</p>
						</div>


					</div>
				</div>
				<footer class="footer">
					<div class="footer-container">
						<nav class="footer-nav">
							<div class="footer-description">
								<h3 class="footer-description-title">Star Hotels</h3>
								<p>Hospitality and Comfort are our watchwords</p>
							</div>
							<div class="footer-contact-us">
								<h3 class="footer-description-title">Contact Us</h3>
								<p class="footer-description-detail">
									<img src="./assets/img/map-pin.svg" class="footer-description-icon"
										alt="star hotel location">

									<span>23, Fola Osibo, Lekki Phase 1</span>
								</p>
								<p class="footer-description-detail">
									<img src="./assets/img/phone.svg" class="footer-description-icon"
										alt="star hotels phone number">
									<span>
										08185956620</span>
								</p>
								<p class="footer-description-detail">
									<img src="./assets/img/mail.svg" class="footer-description-icon"
										alt="star hotels email">
									<span>support@starhotels.com</span>
								</p>
							</div>
							<div class="footer-follow-us">
								<h3 class="footer-description-title">Follow Us</h3>
								<ul class="footer-follow-us-lists">
									<li class="follow-us-list">
										<a href="">
											<img src="./assets/img/facebook.svg" alt="star hotels facebook page">
										</a>
									</li>
									<li class="follow-us-list">
										<a href="">
											<img src="./assets/img/twitter.svg" alt="star hotels twitter page">
										</a>
									</li>
									<li class="follow-us-list">
										<a href="">
											<img src="./assets/img/instagram.svg" alt="star hotels instagram page">
										</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</footer>
				<script defer async>
					(() => {
						const loader = document.getElementById('loader');
						const scrollBar = document.getElementsByClassName('scroll-bar')[0];
						window.addEventListener('load', () => {
							loader.classList.add('none');
							scrollBar.classList.remove('scroll-bar')
						});
					})();
				</script>
				<script defer async src="assets/js/toggleHamburger.js"></script>
				<script async type="text/javascript"
					src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/4b09989a69254ac1a2bd21133f8c7eeb2c8aa64d6972487490ce08bf5c498422.js"></script>
</body>

</html>