asgiref==3.7.2
boto3==1.28.67
botocore==1.31.67
cachetools==5.3.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
distlib==0.3.6
Django==4.2.3
django-bootstrap5==23.3
django-cors-headers==4.1.0
django-ses==3.5.0
djangorestframework==3.14.0
filelock==3.12.2
Flask==2.2.3
google-auth==2.17.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
kubernetes==26.1.0
MarkupSafe==2.1.2
mysqlclient==2.2.0
oauthlib==3.2.2
pipenv==2023.6.26
platformdirs==3.8.0
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
stripe==5.5.0
tenacity==8.0.1
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.23.1
virtualenv-clone==0.5.7
websocket-client==1.5.1
Werkzeug==2.2.3
