<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Outdoor Location Packages</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/global-header.css">
	<link rel="stylesheet" href="./assets/css/global-footer.css">
	<link rel="stylesheet" href="./assets/css/rooms-and-suites.css">
    <link rel="stylesheet" href="C:\Users\Tharushi\Documents\Reservation\room.css">
	<link rel="shortcut icon" href="./assets/img/favicon.webp" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-container">
			<nav class="header-nav-bar">
				<div class="header-nav-logo">
					<a href="index.html">
						<img src="assets/img/hotel_logo.jpg"
							alt="SEEBREEZE hotel logo">
					</a>
				</div>
                <ul class="header-nav-lists">
                    <li class="header-nav-list"><a class="header-nav-link header-active" href="index.html">Home</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="About_Us.html">About Us</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="rooms.html">Rooms</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="event_pkj.html">Event Packages</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="outdoor.html">Outdoor Packages</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="facilities.html">Facilities</a></li>
                    <li class="header-nav-list"><a class="header-btn header-btn-custom" href="booking.html">BOOK NOW</a></li>
                </ul>

                <div class="header-hamburger-icon">
                    <div class="header-hamburger-line-1"></div>
                    <div class="header-hamburger-line-2"></div>
                    <div class="header-hamburger-line-3"></div>
                </div>
            </nav>

    </header>
    <main>
        <div class="container">

            <!-- Top Text -->
            <div class="page-header-container">
                <h2 class="page-header">Sea Breeze Outdoor Location Packages</h2>
                <hr />
                <p class="page-sub-header">
                    Get the most of our hotel specials. Enjoy the modern <br>
                    comfort and panoramic view
                </p>
            </div>

            

            <!-- Outdoor location -->
            <section class="rooms-section">
                <div class="row room-section-header-container">
                    <div class="col col-3">
                        <h4 class="room-section-header active-header" id="standard-room">Outdoor Locations</h4>
                    </div>
                    
                    
                </div>
                <div class="row center-lg">
                    <div class="rooms col col-2">
                        <img src="IMG/pool.jpg"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Pool Side Location</h3>
                        <p class="room-text">We have a pool side with picturesque veiws</p>
                        <div>
                            <div class="details-container" >
                                
                               <pre>📶 Free WiFi</pre>
                                <pre>🅿️ Self Parking</pre>
                                
                             </div>
                        </div>
                        <p class="amount-text">LKR 10,000 Per Hour</p>
                        <div class="buttons-container">
                            <a href="SilverPackage.html" class="btn btn-fill">Book Now</a>
                        
                        </div>
                    </div>
                    <div class="rooms col col-2">
                        <img src="IMG/cott.jpg"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Cattage Side Location</h3>
                        <p class="room-text">We have Luxury cottages with pleasant sceneries</p>
                        <div>
                            <div class="details-container">
                                
                                <pre>📶 Free WiFi</pre>
                                <pre>🅿️ Self Parking</pre>
                                
                            </div>
                        </div>
                        <p class="amount-text">LKR 12,000 Per Hour</p>
                        <div class="buttons-container">
                            <a href="##" class="btn btn-fill">Book Now</a>
                        </div>
                    </div>
                    <div class="rooms col col-2">
                        <img src="IMG/garden.jpg"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Garden Side Package</h3>
                        <p class="room-text">We have well managed garden with nice veiws.</p>
                        <div>
                            <div class="details-container">
                                
                                <pre>📶 Free WiFi</pre>
                                <pre>🅿️ Self Parking</pre>
                                
                            </div>
                        </div>
                        <p class="amount-text">LKR 15,000 Per Hour</p>
                        <div class="buttons-container">
                            <a href="##" class="btn btn-fill">Book Now</a>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </section>
        </div>
    
    </main>

    <footer class="footer">
		<div class="footer-container">
			<nav class="footer-nav">
				<div class="footer-description">
					<h3 class="footer-description-title">Star Hotels</h3>
					<p>Hospitality and Comfort are our watchwords</p>
				</div>
				<div class="footer-contact-us">
					<h3 class="footer-description-title">Contact Us</h3>
					<p class="footer-description-detail"> 
						<img src="./assets/img/map-pin.svg" class="footer-description-icon" alt="star hotel location">

						<span>23, Fola Osibo, Lekki Phase 1</span></p>
					<p class="footer-description-detail">
						<img src="./assets/img/phone.svg" class="footer-description-icon" alt="star hotels phone number"> 
						<span>
					 08185956620</span></p>
					<p class="footer-description-detail">
						<img src="./assets/img/mail.svg" class="footer-description-icon" alt="star hotels email">
						<span>support@starhotels.com</span> </p>
				</div>
				<div class="footer-follow-us">
					<h3 class="footer-description-title">Follow Us</h3>
					<ul class="footer-follow-us-lists">
						<li class="follow-us-list">
							<a href="">
								<img src="./assets/img/facebook.svg" alt="star hotels facebook page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="./assets/img/twitter.svg" alt="star hotels twitter page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="./assets/img/instagram.svg" alt="star hotels instagram page">
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</footer>
    <script src="assets/js/switchRooms.js"></script>
    <script src="assets/js/toggleHamburger.js"></script>
</body>

</html>