<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="EventStyles.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="header-container">
            <nav class="header-nav-bar">
                <div class="header-nav-logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" width="100px" height="100px" alt="SEABREEZE hotel logo">
                    </a>
                </div>
                <ul class="header-nav-lists">
                    <li class="header-nav-list"><a class="header-nav-link" href="index.html">HOME</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="About_Us.html">ABOUT US</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="rooms.html">ROOMS</a></li>
                    <li class="header-nav-list"><a class="header-nav-link header-active" href="event_pkj.html">EVENT
                            PACKAGES</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="outdoor.html">OUTDOOR PACKAGES</a>
                    </li>
                    <li class="header-nav-list"><a class="header-nav-link" href="facilities.html">FACILITIES</a>
                    </li>
                    <li class="header-nav-list"><a class="header-btn header-btn-custom" href="login.html">LOG IN</a>
                    </li>
                </ul>
                <div class="header-hamburger-icon">
                    <div class="header-hamburger-line-1"></div>
                    <div class="header-hamburger-line-2"></div>
                    <div class="header-hamburger-line-3"></div>
                </div>
            </nav>
            <section class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6">
                            <img class="card-img-top mb-5 mb-md-0"
                                src="C:\Users\Tharushi\Documents\Reservation\img\Hall 2.jpg" alt="">
                        </div>
                        <div class="col-md-6">

                            <h1 class="display-5 fw-bolder">Platinum Package</h1>
                            <div class="fs-5 mb-5">

                                <span>LKR 750 000</span>
                            </div>

                            <p class="lead">We are introducing Platinum Package you to have your dream wedding at
                                Sea Breeze to celibrate your special moments with your loving ones.Our package
                                includes everything you need to create a truly unforgettable event, from the venue
                                to the catering</p>
                            <div class="buttons-container">
                                <a href="##" class="btn btn-fill">Book Now</a>
                                <div class="Menu">
                                    <h3>MENU</h3>
                                    <table>
                                        <tr>
                                            <th>Lunch🍗🍽️🍛</th>
                                            <th>Dessert🍡🍮🍨</th>
                                            <th>Drinks🍸🍷🍹</th>
                                        </tr>
                                        <tr>
                                            <td>Chicken Biriyani</td>>
                                            <td>Vanilla & Cholate Ice Cream</td>
                                            <td>Soft Drinks</td>
                                        </tr>
                                        <tr>
                                            <td>Chicken Fried Rice</td>
                                            <td>Chocolate Moose</td>
                                            <td>Iced Cofee</td>
                                        </tr>
                                        <tr>
                                            <td>Buttered Noodles</td>
                                            <td>Curd with Treacle</td>
                                            <td>Mojito</td>
                                        </tr>
                                        <tr>
                                            <td>Develed Chicken</td>
                                            <td>Cheese Pudding</td>
                                            <td>Moctail Bar</td>
                                        </tr>
                                        <tr>
                                            <td>Fish Ambul Thiyal</td>
                                            <td>Watalappan</td>
                                            <td>Mimosa</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
                </div>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="js/scripts.js"></script>
</body>

</html>