{% extends '../base.html' %}
{%block content %}
<div>
    <div class="row">
      <div class="col text-start fs-2 fw-bolder lh-lg">Dashboard</div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Room Name</th>
                <th scope="col">Room type</th>
                <th scope="col">Description</th>
                <th scope="col">price</th>
                <th scope="col">Action</th>

                
            </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <th scope="row">{{room.room_id}}</th>
                    <td>{{room.room_name}}</td>
                    <td>{{room.room_type}}</td>
                    <td>{{room.description}}</td>
                    <td>{{room.price}}</td>
                    <td><a href='room/edit/{{room.room_id}}'><button type="button" class="btn btn-warning" >Edit</button></a> <a href='room/delete/{{room.room_id}}'> <button type="button" class="btn btn-danger">Delete</button> </a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock content %}