{% extends '../base.html' %} {% block title %}Create room{% endblock title %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{%block content %}
<div>
  <div class="row">
    <div class="col text-start fs-2 fw-bolder lh-lg">Room Details Edit</div>
  </div>
  <section class="row" >
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="POST" class="post-form" action="">  
        {% csrf_token %}  
        <div class="container">  
            <div class="form-group row">  
                <label for="exampleFormControlInput1" class="form-label">Room Id:</label>
                <div class="col-sm-4">  
                    <input type="number" class="form-control" name='room_id' id="room_id"  value="{{ room.room_id }}">  
                </div>  
            </div>  
            <div class="form-group row">  
                <label for="exampleFormControlInput1" class="form-label">Room Name:</label>
                <div class="col-sm-4">  
                    <input type="text" class="form-control" name='room_name' id="room_name"  value="{{ room.room_name }}">  
                </div>  
            </div>  
            <div class="form-group row">  
                <label for="exampleFormControlInput1" class="form-label">Room Type:</label>
                <div class="col-sm-4">  
                    <input type="text" class="form-control" name='room_type' id="room_type"  value="{{ room.room_type }}">  
                </div>  
            </div>  
            <div class="form-group row">  
                <label for="exampleFormControlInput1" class="form-label">Room Description:</label>
                <div class="col-sm-4">  
                    <textarea class="form-control" name='description' id="description" value="{{ room.description }}" rows="3"></textarea>
                </div>  
            </div>  
            <div class="form-group row">  
                <label for="exampleFormControlInput1" class="form-label">Room Price:</label>
                <div class="col-sm-4">  
                    <input type="number" class="form-control" name='price' id="price"  value="{{ room.price }}">  
                </div>  
            </div>  
            <div class="form-group row">  
                <label class="col-sm-1 col-form-label"></label>  
                <div class="col-sm-4">  
                <button type="submit" class="btn btn-success">Update</button>  
                </div>  
            </div>  
        </div>  
    </form>  
      
</section>
  </div>
</div>

{% endblock content %}
